
body {
    font-family: 'Montserrat',serif;
    background-color: #F8F8F8;
    color: #0B0B0B;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #0B0B0B;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.add {
    padding: 10px 20px;
    background-color: #41be5e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.add:hover {
    background-color: #30a94a;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

li span {
    flex-grow: 1;
    text-align: left;
}

.hotovo {
    text-decoration: line-through;
    color: #888;
}

li button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

li button:hover {
    background-color: #dc3545;
}